<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    {% if site.github.is_project_page %}
    <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p><a href="https://www.facebook.com/francesca.kee"><i class="fa fa-facebook icons" aria-hidden="true"></i></a><a href="http://www.linkedin.com/in/francescakee"><i class="fa fa-linkedin icons" aria-hidden="true"></i></a><a href="mailto:fineart@francescakee.com"><i class="fa fa-envelope icons" aria-hidden="true"></i></a><a href="https://twitter.com/francescakee"><i class="fa fa-twitter icons" aria-hidden="true"></i></a></p>
    <p> Copyright © 2013-2015 by Francesca Kee Fine Art. All rights reserved.</p>
      <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.blueimp-gallery.min.js"></script>
    <script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    $('#blueimp-gallery').on('closed', function (event) {
        $("body").css('overflow','auto');
    });
    blueimp.Gallery(
        document.getElementById('carousel-links').getElementsByTagName('a'),
        {
            container: '#blueimp-gallery-carousel',
            carousel: true
        }
    );
    </script>
  </footer>
</div>
