<h2 id="gallery"> Gallery </h2>

<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="carousel-links" style="display: none">
  {% for item in page.carousel %}
  <a href="/assets/images/{{ item }}.jpg" title="{{ item | replace: '-',' '}}" data-gallery>
      <img src="/assets/images/thumb/{{ item }}.jpg" alt="{{ item | replace: '-',' '}}">
  </a>
  {% endfor %}
</div>



<div id="links">
    {% for item in page.thumbs %}
    <a href="/assets/images/{{ item }}.jpg" title="{{ item | replace: '-',' '}}" data-gallery>
        <img src="/assets/images/thumb/{{ item }}.jpg" alt="{{ item | replace: '-',' '}}">
    </a>
    {% endfor %}
</div>
