<!-- HEADER -->

<div id="header_wrap" class="outer">
    <header class="inner">

      <a id="cart_banner" href="http://francesca-kee.artistwebsites.com/"> Shop </a>
      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline"></h2>
    </header>
        <nav class="navbar navbar-inverse">
          <div class="container page-padding padd-rem">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse padd-rem" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/" class="{% if page.permalink == '/' %}myactive{% endif %}">Home</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/about/" class="{% if page.permalink == '/about/' %}myactive{% endif %}">About</a></li>
              </ul>
            </div>
          </div>
        </nav>
</div>
